dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.product-form {
    display: flex  ;
    flex-direction: column;
    gap: 12px;
}
